<h1>Sign In</h1>
<%= form_tag sessions_path do %>
	<table>
		<tr>
			<td><%= label_tag :name %></td>
			<td><%= text_field_tag :name %>
		</tr>
		<tr>
			<td><%= label_tag :password %></td>
			<td><%= password_field_tag :password %>
		</tr>
		<tr>
			<td><%= submit_tag "Sign In" %></td>
		</tr>
	</table>
<% end %>
